@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px !important;
  position: relative;
}
img {
  max-width: 100%;
}
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0b1121;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  z-index: 999;
}
#preloader img {
  width: 50px;
}
#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #08a88a;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#Enroll_box {
  background: url(../img/enrroll-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
